body { font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;   
}
.header{ background-color: #1f2937;
padding: 10px;}

.header-top {margin-left: 24px;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 0px;
  
}

.right-links ul { display: flex;
    gap: 16px;
    justify-content: center;   
}

a {
    color: lightgray;
    text-decoration: none;
    font-size: 12px;  
}

ul {
    list-style: none;   
}
.hero{
    margin: 24px;
    display: flex;
    justify-content: space-between;
   align-items: center; 
}
.hero-left {
    width: 300px;
    flex: 0.5;   
}
p {
    margin-top: 0px;
    font-size: 18px;
    color: #e5e7eb;
    
}
h1 {font-size: 48px;

color: #F9FAF8;
height: auto;}

button {background-color: #3882f6;

border-style: none;
color: white;
font-size: 18px;
padding: 16px;
border-radius: 16px;
}

.hero img {
    max-height: 300px;
    max-width: 300px;
    
}
.hero-right{
    display: flex;
    width: 600px;
    flex: 1.8;
    justify-content: center;

}

/*Middle section of the side with product images on the cards*/

.featured-items {
    font-size: 30px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    
}

.card {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {display: flex;
align-items: center;
flex-direction: column;
}

.item p {color: #1f2937;}


/*Quote section*/

.quote {
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    justify-content: center;
}

.text p {
    font-size: 28px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
    padding: 16px;
}
.text {
    width: 500px;
    padding: 8px;
    
    
}

.text h4 {
    display: flex;
    width: 600px;
    justify-content: flex-end;
    margin: 0;
}

